/* base */

@import './base/reset.css';
@import './base/variables.css';
@import "./base/layouts.css";

/* 3rd-party */


/* components */

@import './components/button.css';

/* CUSTOM HOME PAGE STYLE BELOW THIS COMMENT LINE */

.background {
    background-image: url(../images/banner_home4.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}