body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #f2f6f9;
}

.header-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
}

.logo {}

.main-nav {}

.main-nav>a {
    padding: 5px 15px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #4f4f4f;
    cursor: pointer;
    font-weight: 700;
}

.main-nav a:hover {
    color: #e83e8c;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
}

.logos-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}

.icons {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.client-logos {}

.image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner_home4.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.logos-block {
    display: flex;
    flex-direction: row;
}

.pricing-container {}

.pricing-blocks {}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}